.imageIcon{
  text-align: center;
  border-radius: 100px;
  width: 150px;
  height: 150px;
}

.itemsBlock{
  display: flex;
  align-items: center;
}

.videoButton{
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: rgba(250, 235, 216, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 165px;
}

.videoButton:hover{
  background-color: rgba(251, 203, 141, 0.85);
  transition-duration: 0.2s;
}

.imagePlay{
  width: 30px;
  height: 30px;
}

.errorText{
  color: #faebd8;
}

.videoLink{
  color: #faebd8;
  font-weight: bold;
}

.nameString{
  color: #faebd8;
  text-align: center;
}
 
.linkString{
  color: #faebd8;
  font-size: 60%;
  text-decoration: underline;
  text-align: center;
}